* {
            box-sizing: border-box;
        }
        body {
            width: 1440px;
            margin: 0;
        }
        .sidebar {
            background-color:  #FBFBFB;
            width: 340px;
            height: 774px;
            padding-left: 30px;
        }
        .header {
            display: inline-block;
            margin-top: 0px;
            margin-top: 0;
            margin-bottom: 31px;
        }
        .name {
            font-family: Arial;
            font-weight: 900;
            font-size: 18px;
            margin-bottom: 7px;
            margin-left: -18px;
            padding-top: 1px;
        }
        .house {
            color: #46A358;
            font-family: Arial;
            font-weight: 700;
            font-size: 13px;
            margin-top: 0;
            margin-bottom: 20px;
        }
        .text {
            color: gray;
            font-family: Arial;
            font-weight: 700;
            font-size: 13px;
            margin-bottom: 20px;
        }
        .plant {
            position: absolute;
            bottom: 30px;
            left: 170px;
            transform: translateX(-50%);
            width: 250px;
        }
        .background {
            width: 340px;
            height: 450px;
        }
        .container {
            margin-left: -30px;
            margin-top: 387px;
            position: relative;
            width: 370px;
            height: 470px;
        }
        .all {
            font-family: Arial;
            height: 16px;
            width: 80px;
            color: #46A358;
            font-weight: 700;
            font-size: 15px;
            display: inline-block;
            padding-bottom: 7px;
            border-bottom: 2px solid #46A358;
        }
        .new {
            display: inline-block;
            font-family: Arial;
            font-size: 15px;
            font-weight: 400;
            width: 100px;
            color: #3D3D3D;
            height: 16px;
            margin-left: 37px;
        }
        .new1 {
            display: inline-block;
            font-family: Arial;
            font-size: 15px;
            font-weight: 400;
            width: 60px;
            color: #3D3D3D;
            height: 16px;
            margin-left: 40px;
            margin-right: 250px;
        }
        .new2 {
            display: inline-block;
            font-family: Arial;
            font-size: 15px;
            font-weight: 400;
            width: 200px;
            color: #3D3D3D;
            height: 16px;
            margin-left: 385px;
        }
        .new3 {
            display: inline-block;
            font-family: Arial;
            font-size: 15px;
            font-weight: 400;
            width: 63px;
            color: #3D3D3D;
            height: 16px;
            margin-left: 8px;
        }
        .new4 {
            display: inline-block;
            font-family: Arial;
            font-size: 15px;
            font-weight: 400;
            width: 103px;
            color: #3D3D3D;
            height: 16px;
            margin-left: 5px;
        }
        .layout {
            display: flex;
            align-items: flex-start;
            gap: 50px;  
            margin-top: 171px; 
            margin-left: 135px; 
        }
        .plant10 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 250px;
            max-width: 250px;
            background-color: #FBFBFB;
            margin-bottom: 20px;
        }
        .daisy {
            font-family: Arial;
            font-weight: 400;
            font-size: 16px;
            color: #3D3D3D;
            margin-bottom: 6px;
        }
        .money {
            font-family: Arial;
            font-weight: 700;
            font-size: 18px;
            color: #46A358;
            margin-top: 0;
        }
          .main {
            width: 840px;
            height: 1190px;
            position: relative;
            margin-top: 0;
          }
          .images {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          .layolt-2 {
            position: absolute;
            left: 495px;
            right: 105px;
            top: 225px;
            
          }.box1 {
            font-size: 18px;
            width: 35px;
            height: 35px;
            background-color: #46A358;
            color: white;
            padding: 8px 13px 9px 12px;
            display: inline-block;
            align-items: center;
            border-radius: 4px;
            font-family: Arial;
            bottom: -500px;
            right: -10px;

          }

          .box2 {
            font-size: 18px;
            width: 35px;
            height: 35px;
            border: 1px solid #E5E5E5;
            color: #3D3D3D;
            padding: 8px 13px 9px 12px;
            display: inline-block;
            align-items: center;
            border-radius: 4px;
            font-family: Arial;
          }
          .box3 {
            font-size: 18px;
            width: 35px;
            height: 35px;
            border: 1px solid #E5E5E5;
            color: #3D3D3D;
            padding: 8px 13px 9px 12px;
            display: inline-block;
            align-items: center;
            border-radius: 4px;
            font-family: Arial;
          }

          .box4 {
            font-size: 18px;
            width: 35px;
            height: 35px;
            border: 1px solid #E5E5E5;
            color: #3D3D3D;
            padding: 8px 13px 9px 12px;
            display: inline-block;
            align-items: center;
            border-radius: 4px;
            font-family: Arial;
          }
          .box5 {
            font-size: 18px;
            width: 35px;
            height: 35px;
            border: 1px solid #E5E5E5;
            color: #3D3D3D;
            padding: 8px 13px 9px 12px;
            display: inline-block;
            align-items: center;
            border-radius: 4px;
            font-family: Arial;
          }
          .footer {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            padding: 20px;
            margin-top: 20px;
            position: relative;
}
        .layout3 {
            position: absolute;
            right: 120px;
            top: 1280px;
        }